In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    'department':['Sales','Sales','IT','IT','HR'],
    'employee':['Alice','Bob','Charlie','David','Eve'],
    'salary':[50000,60000,70000,80000,50000]
})

grouped = df.groupby('department')
print(grouped['salary'].mean())

department
HR       50000.0
IT       75000.0
Sales    55000.0
Name: salary, dtype: float64

In [5]:
df.groupby(['department','employee'])['salary'].sum()

department  employee
HR          Eve         50000
IT          Charlie     70000
            David       80000
Sales       Alice       50000
            Bob         60000
Name: salary, dtype: int64