In [1]:
supplements = [
    {"name": "Gold Standard Whey", "protein_per_scoop": 24, "scoop_size": 32, "price": 2300},
    {"name": "Serious Mass", "protein_per_scoop": 50, "scoop_size": 334, "price": 2800},
    {"name": "Nitrotech", "protein_per_scoop": 30, "scoop_size": 46, "price": 2700},
    {"name": "MyProtein Impact Whey", "protein_per_scoop": 21, "scoop_size": 25, "price": 2100},
    {"name": "Dymatize ISO100", "protein_per_scoop": 25, "scoop_size": 30, "price": 3500},
    {"name": "ON Plant Protein", "protein_per_scoop": 20, "scoop_size": 36, "price": 1900},
]

In [2]:
protein_per_scoop = supplements[0]['protein_per_scoop']
scoop_size = supplements[0]['scoop_size']

gold_standard_whey = (protein_per_scoop / scoop_size) * 100

In [3]:
print(f'Gold standard Whey ({gold_standard_whey}%)')

Gold standard Whey (75.0%)

In [4]:
protein_per_scoop = supplements[4]['protein_per_scoop']
scoop_size = supplements[4]['scoop_size']

dymatize_iso_100 = (protein_per_scoop / scoop_size) * 100

print(f'Dymatize ISO 100 ({dymatize_iso_100}%)')

Dymatize ISO 100 (83.33333333333334%)

In [5]:
protein = []

for i in range (5):
    protein_per_scoop = supplements[i]['protein_per_scoop']
    price = supplements[i]['price']
    protein.append((protein_per_scoop / price) * 100)

In [6]:
print(protein)

[1.0434782608695654, 1.7857142857142856, 1.1111111111111112, 1.0, 0.7142857142857143]

In [7]:
supplements = [
    {"name": "Gold Standard Whey", "protein": 24, "scoop": 32, "price": 2300, "calories": 120, "carbs": 3, "type": "whey"},
    {"name": "Nitrotech", "protein": 30, "scoop": 46, "price": 2700, "calories": 160, "carbs": 4, "type": "whey"},
    {"name": "MyProtein Impact Whey", "protein": 21, "scoop": 25, "price": 2100, "calories": 100, "carbs": 1, "type": "whey"},
    {"name": "Dymatize ISO100", "protein": 25, "scoop": 30, "price": 3500, "calories": 110, "carbs": 1, "type": "whey"},
    {"name": "ON Plant Protein", "protein": 20, "scoop": 36, "price": 1900, "calories": 140, "carbs": 7, "type": "plant"}
]

In [8]:
import pandas as pd

In [9]:
prc = []

for i in range(5):
    prs = supplements[i]['protein'] 
    cls = supplements[i]['calories']
    name = supplements[i]['name']
    prc.append({"Name": name, "Protein/Calorie Ratio": prs / cls})

df1 = pd.DataFrame(prc)

In [10]:
# Protein-to-Calorie Ratio
print(df1)

                    Name  Protein/Calorie Ratio
0     Gold Standard Whey               0.200000
1              Nitrotech               0.187500
2  MyProtein Impact Whey               0.210000
3        Dymatize ISO100               0.227273
4       ON Plant Protein               0.142857

In [11]:
cpr = []

for i in range(5):
    carbs = supplements[i]['carbs']
    protein = supplements[i]['protein']
    name = supplements[i]['name']
    cpr.append({"Name": name, "Carbs/Protein Ratio": carbs / protein })


df2 = pd.DataFrame(cpr)

In [12]:
#Carb-to-Protein Ratio
print(df2)

                    Name  Carbs/Protein Ratio
0     Gold Standard Whey             0.125000
1              Nitrotech             0.133333
2  MyProtein Impact Whey             0.047619
3        Dymatize ISO100             0.040000
4       ON Plant Protein             0.350000

In [13]:
#value = protein / price * 100
value = []

for i in range(5):
    protein = supplements[i]['protein']
    price = supplements[i]['price']
    name = supplements[i]['name']
    value.append({"Name": name, "Protein/Calorie Ratio": (carbs / protein) * 100 })

df3 = pd.DataFrame(value)

In [14]:
#Best per peso per protein
print(df3)

                    Name  Protein/Calorie Ratio
0     Gold Standard Whey              29.166667
1              Nitrotech              23.333333
2  MyProtein Impact Whey              33.333333
3        Dymatize ISO100              28.000000
4       ON Plant Protein              35.000000

In [15]:
employees = [
    {"id": 1, "name": "Alice Santos", "position": "Manager", "salary": 55000, "department": "HR", "years_of_service": 6},
    {"id": 2, "name": "Benjie Cruz", "position": "Developer", "salary": 48000, "department": "IT", "years_of_service": 3},
    {"id": 3, "name": "Carla Reyes", "position": "Designer", "salary": 43000, "department": "Marketing", "years_of_service": 2},
    {"id": 4, "name": "Daniel Lee", "position": "Developer", "salary": 52000, "department": "IT", "years_of_service": 5},
    {"id": 5, "name": "Ella Gomez", "position": "Intern", "salary": 18000, "department": "HR", "years_of_service": 1},
    {"id": 6, "name": "Francis Cruz", "position": "Manager", "salary": 60000, "department": "IT", "years_of_service": 8},
    {"id": 7, "name": "George Tan", "position": "Support", "salary": 30000, "department": "Customer Service", "years_of_service": 4},
    {"id": 8, "name": "Hannah Lim", "position": "Designer", "salary": 41000, "department": "Marketing", "years_of_service": 3}
]

In [16]:
from collections import Counter

position = []


for i in range(8):
    position.append(employees[i]['position'])


print(Counter(position))

Counter({'Manager': 2, 'Developer': 2, 'Designer': 2, 'Intern': 1, 'Support': 1})

In [ ]:
# find employee where employee is in it Department
it_employees = [employee for employee in employees if employee["department"] == "IT"]

In [18]:
highest_employee_it_paid = max(it_employees, key=lambda employee: employee['salary'])

In [19]:
print(highest_employee_it_paid)

{'id': 6, 'name': 'Francis Cruz', 'position': 'Manager', 'salary': 60000, 'department': 'IT', 'years_of_service': 8}

In [29]:
employees = [
    {"id": 1, "name": "Alice Santos", "position": "Manager", "salary": 55000, "department": "HR", "years_of_service": 6},
    {"id": 2, "name": "Benjie Cruz", "position": "Developer", "salary": 48000, "department": "IT", "years_of_service": 3},
    {"id": 3, "name": "Carla Reyes", "position": "Designer", "salary": 43000, "department": "Marketing", "years_of_service": 2},
    {"id": 4, "name": "Daniel Lee", "position": "Developer", "salary": 52000, "department": "IT", "years_of_service": 5},
    {"id": 5, "name": "Ella Gomez", "position": "Intern", "salary": 18000, "department": "HR", "years_of_service": 1},
    {"id": 6, "name": "Francis Cruz", "position": "Manager", "salary": 60000, "department": "IT", "years_of_service": 8},
    {"id": 7, "name": "George Tan", "position": "Support", "salary": 30000, "department": "Customer Service", "years_of_service": 4},
    {"id": 8, "name": "Hannah Lim", "position": "Designer", "salary": 41000, "department": "Marketing", "years_of_service": 3}
]

In [28]:
df1 = pd.DataFrame(employees)

In [30]:
salary_mean = df1.groupby('department')['salary'].mean()

In [31]:
print(salary_mean)

department
Customer Service    30000.000000
HR                  36500.000000
IT                  53333.333333
Marketing           42000.000000
Name: salary, dtype: float64

In [32]:
employees = [
    {"id": 101, "name": "Jane Dela Cruz", "position": "Accountant", "salary": 47000, "department": "Finance", "years_of_service": 6},
    {"id": 102, "name": "Mark Santos", "position": "Sales Executive", "salary": 39000, "department": "Sales", "years_of_service": 4},
    {"id": 103, "name": "Nina Corpuz", "position": "HR Officer", "salary": 51000, "department": "HR", "years_of_service": 7},
    {"id": 104, "name": "Leo Navarro", "position": "IT Support", "salary": 45000, "department": "IT", "years_of_service": 5},
    {"id": 105, "name": "Ricky Palma", "position": "Manager", "salary": 61000, "department": "Operations", "years_of_service": 8},
    {"id": 106, "name": "Mia Reyes", "position": "Marketing Lead", "salary": 55000, "department": "Marketing", "years_of_service": 6},
    {"id": 107, "name": "Tommy Chan", "position": "Data Analyst", "salary": 58000, "department": "IT", "years_of_service": 3},
    {"id": 108, "name": "Anne Uy", "position": "Designer", "salary": 40000, "department": "Creative", "years_of_service": 5}
]

In [33]:
years_5 = 5

more_than_5_years = [x for x in employees if  x['years_of_service'] >= years_5]

In [50]:
less_than_6k = [x for x in employees if x['salary'] < 60000]

In [51]:
less_60k = pd.DataFrame(less_than_6k)
df1 = less_60k.sort_values(by='salary',ascending=True)

In [53]:
y5_employees = pd.DataFrame(more_than_5_years)
df2 = y5_employees.sort_values(by='salary',ascending=True)
print(df2)

    id            name        position  salary  department  years_of_service
5  108         Anne Uy        Designer   40000    Creative                 5
2  104     Leo Navarro      IT Support   45000          IT                 5
0  101  Jane Dela Cruz      Accountant   47000     Finance                 6
1  103     Nina Corpuz      HR Officer   51000          HR                 7
4  106       Mia Reyes  Marketing Lead   55000   Marketing                 6
3  105     Ricky Palma         Manager   61000  Operations                 8

    id            name         position  salary department  years_of_service
1  102     Mark Santos  Sales Executive   39000      Sales                 4
6  108         Anne Uy         Designer   40000   Creative                 5
3  104     Leo Navarro       IT Support   45000         IT                 5
0  101  Jane Dela Cruz       Accountant   47000    Finance                 6
2  103     Nina Corpuz       HR Officer   51000         HR                 7
4  106       Mia Reyes   Marketing Lead   55000  Marketing                 6
5  107      Tommy Chan     Data Analyst   58000         IT                 3

In [59]:

gym_members = pd.DataFrame(data = [
    {"id": 1, "name": "Alex Cruz", "age": 28, "membership": "Premium", "status": "Active", "months_subscribed": 12},
    {"id": 2, "name": "Bella Reyes", "age": 22, "membership": "Basic", "status": "Inactive", "months_subscribed": 3},
    {"id": 3, "name": "Carl Dizon", "age": 35, "membership": "Premium", "status": "Active", "months_subscribed": 18},
    {"id": 4, "name": "Dana Lim", "age": 19, "membership": "Student", "status": "Active", "months_subscribed": 6},
    {"id": 5, "name": "Ethan Tan", "age": 42, "membership": "Basic", "status": "Inactive", "months_subscribed": 1},
    {"id": 6, "name": "Faith Navarro", "age": 31, "membership": "Premium", "status": "Active", "months_subscribed": 24},
    {"id": 7, "name": "George Sy", "age": 27, "membership": "Student", "status": "Active", "months_subscribed": 5},
    {"id": 8, "name": "Hannah Santos", "age": 25, "membership": "Basic", "status": "Active", "months_subscribed": 10}
])

In [79]:
number_of_active  = (gym_members['status']=='Active').sum()

In [82]:
print(f"There are {number_of_active}  Active Status")

There are 6  Active Status

In [73]:
print(number_of_active)

8

In [83]:
#more than 12 months subcribe 

more_12  = (gym_members['months_subscribed'] >= 12).sum()

In [84]:
print(more_12)

3

In [92]:
most_loyal = gym_members[gym_members['months_subscribed'] >= 12]
print(most_loyal.max())

id                               6
name                 Faith Navarro
age                             35
membership                 Premium
status                      Active
months_subscribed               24
dtype: object

In [ ]:
#List names of all inactive members younger than 30 years old.

In [93]:
inactive = gym_members[gym_members['status'] == 'Inactive']

In [95]:
younger_by_30 = inactive[inactive['age'] < 30]

In [96]:
print(younger_by_30)

   id         name  age membership    status  months_subscribed
1   2  Bella Reyes   22      Basic  Inactive                  3

In [ ]:
(orders = [
    {"order_id": 1, "customer": "Alice", "item": "Latte", "price": 120, "quantity": 2},
    {"order_id": 2, "customer": "Bob", "item": "Espresso", "price": 90, "quantity": 1},
    {"order_id": 3, "customer": "Charlie", "item": "Cappuccino", "price": 110, "quantity": 3},
    {"order_id": 4, "customer": "Alice", "item": "Espresso", "price": 90, "quantity": 2},
    {"order_id": 5, "customer": "Dana", "item": "Latte", "price": 120, "quantity": 1},
    {"order_id": 6, "customer": "Eve", "item": "Mocha", "price": 130, "quantity": 2},
    {"order_id": 7, "customer": "Charlie", "item": "Mocha", "price": 130, "quantity": 1},
])

TypeError: DataFrame.__init__() got an unexpected keyword argument 'orders'