In [1]:
import pandas as pd

df = pd.DataFrame({
    'Date': pd.date_range(start='2024-01-01', periods=8, freq='D'),
    'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West'],
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'Dave', 'Ella', 'Frank', 'Grace', 'Hannah'],
    'Product': ['A', 'A', 'B', 'B', 'A', 'B', 'A', 'B'],
    'Units': [10, 15, 20, 5, 30, 25, 8, 12],
    'Price': [100, 100, 200, 200, 100, 200, 100, 200]
})

In [2]:
df['Revenue'] = df['Units'] * df['Price']

In [4]:
result = df.groupby(['Region','Product']).agg(
    Total_Units=('Units','sum'),
    Total_Revenue=('Revenue','sum'),
    Avg_Unit_Price=('Price','mean')
    )

In [5]:
print(result)

                Total_Units  Total_Revenue  Avg_Unit_Price
Region Product
East   A                 30           3000           100.0
       B                 25           5000           200.0
North  A                 25           2500           100.0
South  B                 25           5000           200.0
West   A                  8            800           100.0
       B                 12           2400           200.0

In [6]:
df.groupby('Region').agg({
    'Revenue':['sum','mean',lambda x: x.max() - x.min()]
})

       Revenue
           sum    mean <lambda_0>
Region
East      8000  4000.0       2000
North     2500  1250.0        500
South     5000  2500.0       3000
West      3200  1600.0       1600

In [7]:
def commission(row):
    if row['Product'] == 'A':
        return row['Revenue'] * 0.1
    else:
        return row['Revenue'] * 0.2

In [12]:
df['Commission'] = df.apply(commission,axis=1)

In [ ]:
def commission(row):
    if row['Product'] == 'A':
        return row['Revenue'] * 0.1
    else:
        return row['Revenue'] * 0.2

df['Commission'] = df.apply(commission, axis=1)

In [13]:
df['Rolling_3day_Revenue'] = df['Revenue'].rolling(window=3).mean()

In [14]:
pivot = df.pivot_table(index='Region',columns='Product',values='Revenue',aggfunc='sum')

In [15]:
print(pivot)

Product       A       B
Region
East     3000.0  5000.0
North    2500.0     NaN
South       NaN  5000.0
West      800.0  2400.0

In [16]:
melted = df.melt(id_vars=['Date','Region'],value_vars=['Units','Revenue'])

In [17]:
print(melted)

         Date Region variable  value
0  2024-01-01  North    Units     10
1  2024-01-02  North    Units     15
2  2024-01-03  South    Units     20
3  2024-01-04  South    Units      5
4  2024-01-05   East    Units     30
5  2024-01-06   East    Units     25
6  2024-01-07   West    Units      8
7  2024-01-08   West    Units     12
8  2024-01-01  North  Revenue   1000
9  2024-01-02  North  Revenue   1500
10 2024-01-03  South  Revenue   4000
11 2024-01-04  South  Revenue   1000
12 2024-01-05   East  Revenue   3000
13 2024-01-06   East  Revenue   5000
14 2024-01-07   West  Revenue    800
15 2024-01-08   West  Revenue   2400

In [20]:
stacked = df.set_index(['Region','Product'])[['Revenue']].unstack()

ValueError: Index contains duplicate entries, cannot reshape

In [21]:
df['Month'] = df['Date'].dt.month

In [22]:
print(df)

        Date Region Salesperson Product  Units  Price  Revenue  Commission  \
0 2024-01-01  North       Alice       A     10    100     1000       100.0
1 2024-01-02  North         Bob       A     15    100     1500       150.0
2 2024-01-03  South     Charlie       B     20    200     4000       800.0
3 2024-01-04  South        Dave       B      5    200     1000       200.0
4 2024-01-05   East        Ella       A     30    100     3000       300.0
5 2024-01-06   East       Frank       B     25    200     5000      1000.0
6 2024-01-07   West       Grace       A      8    100      800        80.0
7 2024-01-08   West      Hannah       B     12    200     2400       480.0

   Rolling_3day_Revenue  Month
0                   NaN      1
1                   NaN      1
2           2166.666667      1
3           2166.666667      1
4           2666.666667      1
5           3000.000000      1
6           2933.333333      1
7           2733.333333      1

In [23]:
df.set_index('Date').resample('W').sum(numeric_only=True)

            Units  Price  Revenue  Commission  Rolling_3day_Revenue  Month
Date
2024-01-07    113   1000    16300      2630.0          12933.333333      7
2024-01-14     12    200     2400       480.0           2733.333333      1

In [25]:
df.groupby('Region').agg({
    'Units':['sum','mean'],
    'Revenue':['sum',lambda x: x.max() - x.min()]
})

       Units       Revenue
         sum  mean     sum <lambda_0>
Region
East      55  27.5    8000       2000
North     25  12.5    2500        500
South     25  12.5    5000       3000
West      20  10.0    3200       1600

In [26]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Product': ['A', 'A', 'B', 'B', 'A', 'B', 'A', 'B'],
    'Units': [10, 15, 20, 5, 30, 25, 8, 12],
    'Price': [100, 100, 200, 200, 100, 200, 100, 200],
    'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West']
})

In [27]:
df['Revenue'] = df['Units'] * df['Price']

In [28]:
print(df)

  Product  Units  Price Region  Revenue
0       A     10    100  North     1000
1       A     15    100  North     1500
2       B     20    200  South     4000
3       B      5    200  South     1000
4       A     30    100   East     3000
5       B     25    200   East     5000
6       A      8    100   West      800
7       B     12    200   West     2400

In [31]:
df['Discount'] = np.where(df['Units'] > 20,0.1,0.05)

In [32]:
print(df)

  Product  Units  Price Region  Revenue  Discount
0       A     10    100  North     1000      0.05
1       A     15    100  North     1500      0.05
2       B     20    200  South     4000      0.05
3       B      5    200  South     1000      0.05
4       A     30    100   East     3000      0.10
5       B     25    200   East     5000      0.10
6       A      8    100   West      800      0.05
7       B     12    200   West     2400      0.05

In [33]:
df['Revenue_After_Discount'] = df['Revenue'] * (1-df['Discount'])

In [34]:
print(df)

  Product  Units  Price Region  Revenue  Discount  Revenue_After_Discount
0       A     10    100  North     1000      0.05                   950.0
1       A     15    100  North     1500      0.05                  1425.0
2       B     20    200  South     4000      0.05                  3800.0
3       B      5    200  South     1000      0.05                   950.0
4       A     30    100   East     3000      0.10                  2700.0
5       B     25    200   East     5000      0.10                  4500.0
6       A      8    100   West      800      0.05                   760.0
7       B     12    200   West     2400      0.05                  2280.0

In [ ]:
conditions = [
    (df['Units'] >= 25),
    (df['Units'] >= 10) & (df['Units'] < 25),
    (df['Units'] < 10)
]

TypeError: Choicelist and default value do not have a common dtype: The DType <class 'numpy.dtypes._PyLongDType'> could not be promoted by <class 'numpy.dtypes.StrDType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes._PyLongDType'>)

In [38]:
choices = ['High','Medium','Low']

In [40]:
df['Demand_Level'] = np.select(conditions,choices)

TypeError: Choicelist and default value do not have a common dtype: The DType <class 'numpy.dtypes._PyLongDType'> could not be promoted by <class 'numpy.dtypes.StrDType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes._PyLongDType'>)

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Product': ['A', 'A', 'B', 'B', 'A', 'B', 'A', 'B'],
    'Units': [10, 15, 20, 5, 30, 25, 8, 12],
    'Price': [100, 100, 200, 200, 100, 200, 100, 200],
    'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West']
})
df['Revenue'] = df['Units'] * df['Price']

In [2]:
df['Discount'] = np.where(df['Units'] > 20, 0.1, 0.05)
df['Revenue_After_Discount'] = df['Revenue'] * (1 - df['Discount'])

In [3]:
conditions = [
    (df['Units'] >= 25),
    (df['Units'] >= 10) & (df['Units'] < 25),
    (df['Units'] < 10)
]
choices = ['High', 'Medium', 'Low']

df['Demand_Level'] = np.select(conditions, choices)

TypeError: Choicelist and default value do not have a common dtype: The DType <class 'numpy.dtypes._PyLongDType'> could not be promoted by <class 'numpy.dtypes.StrDType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes._PyLongDType'>)

In [4]:
df['Bonus'] = df['Revenue'] * np.where(df['Product'] == 'A',0.05,0.1)

In [5]:
print(df)

  Product  Units  Price Region  Revenue  Discount  Revenue_After_Discount  \
0       A     10    100  North     1000      0.05                   950.0
1       A     15    100  North     1500      0.05                  1425.0
2       B     20    200  South     4000      0.05                  3800.0
3       B      5    200  South     1000      0.05                   950.0
4       A     30    100   East     3000      0.10                  2700.0
5       B     25    200   East     5000      0.10                  4500.0
6       A      8    100   West      800      0.05                   760.0
7       B     12    200   West     2400      0.05                  2280.0

   Bonus
0   50.0
1   75.0
2  400.0
3  100.0
4  150.0
5  500.0
6   40.0
7  240.0

In [6]:
np.random.seed(42)

In [7]:
df['Simulated_Sales'] = np.random.randint(5,50,size=len(df))

In [8]:
print(df)

  Product  Units  Price Region  Revenue  Discount  Revenue_After_Discount  \
0       A     10    100  North     1000      0.05                   950.0
1       A     15    100  North     1500      0.05                  1425.0
2       B     20    200  South     4000      0.05                  3800.0
3       B      5    200  South     1000      0.05                   950.0
4       A     30    100   East     3000      0.10                  2700.0
5       B     25    200   East     5000      0.10                  4500.0
6       A      8    100   West      800      0.05                   760.0
7       B     12    200   West     2400      0.05                  2280.0

   Bonus  Simulated_Sales
0   50.0               43
1   75.0               33
2  400.0               19
3  100.0               47
4  150.0               12
5  500.0               25
6   40.0               43
7  240.0               23

In [9]:
units_prices = df['Units'].values
price = df['Price'].values

df['Dot_Revenue'] = np.dot(units_prices,price)

In [10]:
print(df)

  Product  Units  Price Region  Revenue  Discount  Revenue_After_Discount  \
0       A     10    100  North     1000      0.05                   950.0
1       A     15    100  North     1500      0.05                  1425.0
2       B     20    200  South     4000      0.05                  3800.0
3       B      5    200  South     1000      0.05                   950.0
4       A     30    100   East     3000      0.10                  2700.0
5       B     25    200   East     5000      0.10                  4500.0
6       A      8    100   West      800      0.05                   760.0
7       B     12    200   West     2400      0.05                  2280.0

   Bonus  Simulated_Sales  Dot_Revenue
0   50.0               43        18700
1   75.0               33        18700
2  400.0               19        18700
3  100.0               47        18700
4  150.0               12        18700
5  500.0               25        18700
6   40.0               43        18700
7  240.0               23        18700

In [11]:
names = ['Alice','Bob','Charlie']

for i,name in enumerate(names):
    print(f"{i}:{name}")

0:Alice
1:Bob
2:Charlie

In [12]:
names = ['alice','bob','charlie']
scores = [85,90,88]

for name,score in zip(names,scores):
    print(f'{name}: {score}')

alice: 85
bob: 90
charlie: 88

In [13]:
for n in [2,3,5,6]:
    if n % 2 == 0:
        print(f"Even found:{n}")
        break
else:
    print('No even number found.')

Even found:2

In [14]:
pairs = [(1,'a'),(2,'b'),(3,'c')]


for num,char in pairs:
    print(f'{num} - {char}')

1 - a
2 - b
3 - c

In [15]:
students = [
    {'name':'alice','math':85,'eng':90},
    {'name':'bob','math':70,'eng':60},
    {'name':'charlie','math':95,'eng':100}
]

In [20]:
for item in students:
    print(item['name'])

alice
bob
charlie

In [21]:
for students in students:
    print(f"{students['name']} - Math:{students['math']}, Eng:{students['eng']}")

alice - Math:85, Eng:90
bob - Math:70, Eng:60
charlie - Math:95, Eng:100

In [36]:
for student in students:
    avg = (student['math'] + student['eng']) / 2
    print(f"{student['name']} -Average:{avg}")

TypeError: string indices must be integers, not 'str'

In [37]:
students = [
    {'name': 'alice', 'math': 85, 'eng': 90},
    {'name': 'bob', 'math': 70, 'eng': 60},
    {'name': 'charlie', 'math': 95, 'eng': 100}
]

for student in students:  # ✅ Correct
    avg = (student['math'] + student['eng']) / 2
    print(f"{student['name']} - Average: {avg}")

alice - Average: 87.5
bob - Average: 65.0
charlie - Average: 97.5