# ðŸ›’ E-Commerce SQL Practice (Medium Level)

This notebook contains **8 medium-level practice questions** to improve your SQL skills.

## ðŸ“Œ Prerequisites
- You should already know: SELECT, WHERE, ORDER BY, LIMIT, COUNT, SUM, AVG, GROUP BY, JOIN
- This notebook will teach: Multiple JOINs, Subqueries, HAVING, CASE WHEN, and more

---

## ðŸ“¦ Setup: Connect to Database

In [ ]:
# Import libraries and connect to database
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('ecommerce.db')

# Helper function
def run_query(query):
    return pd.read_sql_query(query, conn)

print("âœ… Connected to ecommerce.db!")

## ðŸ“Š Quick Database Review

| Table | Key Columns |
|-------|-------------|
| `customers` | customer_id, first_name, last_name, email, city |
| `products` | product_id, product_name, category_id, price |
| `categories` | category_id, category_name |
| `orders` | order_id, customer_id, order_date, status, total_amount |
| `order_items` | item_id, order_id, product_id, quantity, subtotal |
| `payments` | payment_id, order_id, payment_method, amount, status |
| `refunds` | refund_id, order_id, refund_amount, reason |

In [ ]:
# Quick preview of tables
print("ðŸ“¦ PRODUCTS:")
display(run_query("SELECT product_id, product_name, price FROM products LIMIT 3"))

print("\nðŸ›ï¸ ORDERS:")
display(run_query("SELECT order_id, customer_id, status, total_amount FROM orders LIMIT 3"))

---

# ðŸ“ Medium Level Questions

---

## Question 1: Multiple WHERE Conditions

**Find all products that cost between $50 and $300.**

ðŸ’¡ **Hint:** Use `WHERE price >= 50 AND price <= 300` or `BETWEEN`

In [ ]:
# YOUR CODE HERE
run_query("""
SELECT product_name, price
FROM products
WHERE price BETWEEN 50 AND 300
ORDER BY price
""")

---

## Question 2: JOIN Two Tables

**Show each product with its category name. Display: product_name, category_name, price.**

ðŸ’¡ **Hint:** JOIN `products` with `categories` using `category_id`

In [ ]:
# YOUR CODE HERE
run_query("""

""")

In [ ]:
# âœ… SOLUTION
run_query("""
SELECT p.product_name, c.category_name, p.price
FROM products p
JOIN categories c ON p.category_id = c.category_id
ORDER BY c.category_name, p.price DESC
""")

---

## Question 3: GROUP BY with Multiple Columns

**Count how many orders each customer has for each status (completed, pending, etc.).**

ðŸ’¡ **Hint:** GROUP BY customer_id, status

In [ ]:
# YOUR CODE HERE
run_query("""

""")

In [ ]:
# âœ… SOLUTION
run_query("""
SELECT customer_id, status, COUNT(*) AS order_count
FROM orders
GROUP BY customer_id, status
ORDER BY customer_id, status
""")

---

## Question 4: HAVING (Filter Groups)

**Find customers who have placed more than 1 order. Show customer_id and their order count.**

ðŸ’¡ **Hint:** Use `HAVING COUNT(*) > 1` after GROUP BY

In [ ]:
# YOUR CODE HERE
run_query("""

""")

In [ ]:
# âœ… SOLUTION
run_query("""
SELECT customer_id, COUNT(*) AS order_count
FROM orders
GROUP BY customer_id
HAVING COUNT(*) > 1
ORDER BY order_count DESC
""")

---

## Question 5: JOIN Three Tables

**Show customer names with their orders. Display: first_name, last_name, order_id, total_amount, status.**

ðŸ’¡ **Hint:** JOIN `customers` with `orders` using `customer_id`

In [ ]:
# YOUR CODE HERE
run_query("""

""")

In [ ]:
# âœ… SOLUTION
run_query("""
SELECT 
    c.first_name, 
    c.last_name, 
    o.order_id, 
    o.total_amount, 
    o.status
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
ORDER BY c.first_name, o.order_date
""")

---

## Question 6: Aggregate with JOIN

**Find total revenue per category. Show: category_name and total_revenue.**

ðŸ’¡ **Hint:** 
- JOIN `categories` â†’ `products` â†’ `order_items`
- Use `SUM(subtotal)` and `GROUP BY category_name`

In [ ]:
# YOUR CODE HERE
run_query("""

""")

In [ ]:
# âœ… SOLUTION
run_query("""
SELECT 
    c.category_name,
    SUM(oi.subtotal) AS total_revenue
FROM categories c
JOIN products p ON c.category_id = p.category_id
JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY c.category_name
ORDER BY total_revenue DESC
""")

---

## Question 7: CASE WHEN (Conditional Logic)

**Classify products by price:**
- If price < 50: "Budget"
- If price 50-200: "Mid-Range"
- If price > 200: "Premium"

ðŸ’¡ **Hint:** Use `CASE WHEN ... THEN ... ELSE ... END`

In [ ]:
# YOUR CODE HERE
run_query("""

""")

In [ ]:
# âœ… SOLUTION
run_query("""
SELECT 
    product_name,
    price,
    CASE 
        WHEN price < 50 THEN 'Budget'
        WHEN price <= 200 THEN 'Mid-Range'
        ELSE 'Premium'
    END AS price_category
FROM products
ORDER BY price
""")

---

## Question 8: Complete Order Summary

**Create an order summary showing:**
- Customer full name (first_name + last_name)
- Order date
- Total amount
- Payment method

ðŸ’¡ **Hint:** 
- Combine names with `||` operator: `first_name || ' ' || last_name`
- JOIN `customers`, `orders`, and `payments`

In [ ]:
# YOUR CODE HERE
run_query("""

""")

In [ ]:
# âœ… SOLUTION
run_query("""
SELECT 
    c.first_name || ' ' || c.last_name AS customer_name,
    o.order_date,
    o.total_amount,
    p.payment_method
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN payments p ON o.order_id = p.order_id
ORDER BY o.order_date DESC
LIMIT 15
""")

---

# ðŸŽ¯ Summary

You've learned these medium-level SQL skills:

| Skill | SQL Syntax |
|-------|------------|
| Multiple conditions | `WHERE col BETWEEN x AND y` |
| Join 2 tables | `JOIN table ON condition` |
| Group multiple columns | `GROUP BY col1, col2` |
| Filter groups | `HAVING COUNT(*) > n` |
| Join with aggregates | `JOIN + GROUP BY + SUM()` |
| Conditional logic | `CASE WHEN ... THEN ... END` |
| Combine text | `col1 \|\| ' ' \|\| col2` |

---

## ðŸ“š Medium SQL Cheat Sheet

```sql
-- BETWEEN (range)
SELECT * FROM products WHERE price BETWEEN 50 AND 200;

-- Multiple JOINs
SELECT * 
FROM table1 t1
JOIN table2 t2 ON t1.id = t2.id
JOIN table3 t3 ON t2.id = t3.id;

-- HAVING (filter groups)
SELECT column, COUNT(*)
FROM table
GROUP BY column
HAVING COUNT(*) > 5;

-- CASE WHEN (conditional)
SELECT 
    CASE 
        WHEN condition1 THEN 'value1'
        WHEN condition2 THEN 'value2'
        ELSE 'default'
    END AS new_column
FROM table;

-- Combine text columns
SELECT first_name || ' ' || last_name AS full_name FROM customers;
```

In [ ]:
# Close connection when done
conn.close()
print("âœ… Database connection closed. Great work!")