In [ ]:
map = {}

In [ ]:
map['apple'] = 50

In [ ]:
print(map)

In [ ]:
map['apple'] = 60

In [ ]:
price = map.get('apple',0)

In [ ]:
print(price)

In [ ]:
nums  = [1,2,3,4,1,2]

In [ ]:
freq = {}

In [ ]:
for n in nums:
    if n in freq:
        freq[n] += 1

    else:
        freq[n] = 1

print(freq)

In [ ]:
num2 = [3,5,1,4,5,2]
seen = set()

for n in num2:
    if n in seen:
        print(n)
        break
    seen.add(n)

In [ ]:
nums = [1,2,7,11,15]
target = 18
map = {}


for i,num in enumerate(nums):
    need = target - num
    if need in map:
        print([need,num])
        break
    map[num] = i

In [ ]:
words = ["eat","tea","tan","ate","nat","bat"]

group = {}

for w in words:
    key = "".join(sorted(w))
    if key not in group:
        group[key] = []
    group[key].append(w)

print(list(group.values()))

In [ ]:
data = {}

In [ ]:
data["apple"] = 10
data['apple'] = 20
data['banana'] = 30

In [ ]:
banana = "banana"

if banana in data:
    print('May banana!')
else:
    print(f"wala {banana}")

In [ ]:
fruits = ["banana","banana","apple"]

count = {}

for f in fruits:
    if f in count:
        count[f] += 1
    else:
        count[f] = 1

print(count)

In [ ]:
grades = {
    "juan":90,
    "maria":95,
    "pedro":85
}

print(grades["maria"])

In [ ]:
names = ['ana','ben','cy']

ages = [18,21,19]

result = {}

for i in range(len(names)):
    result[names[i]] = ages[i]

print(result)

In [ ]:
count = ["a","a","b","a","c"]


freq = {}

for n in count:
    if n in freq:
        freq[n] += 1
    else:
        freq[n] = 1

print(freq)

In [ ]:
students = {
    "name":"Mark",
    "age":19
}

age = "age"

if "age" in students:
    print("Age is found")
else:
    print("Aage was not found")

In [ ]:
items = {"milk":2,"bread":1,"egg":12}

In [ ]:
if "bread" in items:
    items.pop('bread')

print(items)

In [ ]:
capital = {'Philippines':"Manila","Japan":"Tokyo","India":"New Delhi"}

In [ ]:
print(f'the capital of the Philippines is {capital["Philippines"]}')

In [ ]:
animals = ["cat","dog","cat","bird","dog"]
animal_freq = {}


for an in animals:
    if an in animal_freq:
        animal_freq[an] += 1
    else:
        animal_freq[an] = 1

print(animal_freq)

In [ ]:
keys = ["name","age","city"]
values = ["mark",19,"Manila"]

combined = zip(keys,values)

print(tuple(combined))

In [ ]:
letters = ["a","b","c","a","d"]

freq = {}

for n in letters:
    if n in freq:
        freq[n] += 1
    else:
        freq[n] = 1


m = max(freq,key=freq.get)

print(m)

In [ ]:
each = "112233145"
data = []

for n in each:
    each.strip()
    data.append(each)

print(data)

In [ ]:
scores = {"Amy": 90, "Ben": 85, "Chad": 90}

list = []

keys = []


for k in scores.values():
    key.append(k)


for i in scores:
    list.append(i)

print(keys)
print(list)

In [ ]:
def  count_digits_manual(n):
    s = str(abs(n))

    counts = {}
    for digit in s:
        if digit.isdigit():
            counts[digit] = counts.get(digit,0) + 1
    return counts

numbers = "112233145"
print(count_digits_manual(numbers))

In [ ]:
def count_digits_manual(n):
    s = str(n)

    counts = {}
    for digit in s:
        if digit.isdigit():
            counts[digit] = counts.get(digit,0) + 1

    return counts


numbers = "112233145"
print(count_digits_manual(numbers))

In [ ]:
numbers = "112233145"
print(str(numbers))

In [ ]:
scores = {"Amy":90,"Ben":85,"Chad":90}

result = {}
for name,score in scores.items():
    result.setdefault(score,[]).append(name)

print(result)

In [ ]:
text = "Hello world"
v = "aeiouAEIOU"

res = {ch: text.count(ch) for ch in v if ch in text}
print(res)

In [ ]:
words = ["cat","window","defenestrate"]

for w in words:
    print(w,len(w))

In [ ]:
def http_error(status):
    match status:
        case 400:
            return "Bad Request"
        case 404:
            return "Not Found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"
        

print(http_error(400))

In [ ]:
def my_function():
    """Do nothing but document it"""

    pass

print(my_function.__doc__)

In [ ]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(0)

f(1)

In [ ]:
from sklearn.preprocessing import LabelEncoder

cities = ['Manila','Cebu','Davao','Cebu']

enc = LabelEncoder()
encoded = enc.fit_transform(cities)


print(encoded)
print(enc.classes_)

In [ ]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import CountVectorizer
data = [
    {"apple": 2, "banana": 3},
    {"apple": 1, "orange": 4}
]

In [ ]:
vec = DictVectorizer(sparse=False)
X = vec.fit_transform(data)

In [ ]:
print(X)
print(vec.get_feature_names_out())

In [ ]:
text = ['I love dogs','I love cats']

vec = CountVectorizer()
X = vec.fit_transform(text)

print(vec.vocabulary_)
print(X.toarray())

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

df = pd.DataFrame({
    "city":['Manila','Cebu','Davao','Manila']
})

enc = OneHotEncoder(sparse=False)
oneshot = enc.fit_transform(df[["city"]])


print(oneshot)
print(enc.categories_)

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer

sentences = ['Dog eats food',"cat eats fish"]

tfidf = TfidfVectorizer()
X = tfidf.fit_transform(sentences)

In [2]:
import pandas as pd


df = pd.DataFrame({
    'city':['Manila','Cebu','Davao']
})

In [3]:
region_map = {
    'Manila':'Luzon',
    'Cebu':'Visaya',
    'Davao':"Mindanao"
}

df['region'] = df['city'].map(region_map)

print(df)

     city    region
0  Manila     Luzon
1    Cebu    Visaya
2   Davao  Mindanao

In [ ]:
import pandas as pd

df = pd.DataFrame({

    "item":['apple','banana','apple','orange'],
    "qty": [2,1,3,5]

})