### Step 2: Connect to MongoDB
Now we will import the library and establish a connection to your local MongoDB server.

In [ ]:
server = ('mongodb://localhost:27017/')

In [ ]:
import pandas as pd

In [ ]:
import pymongo

try:
    client = pymongo.MongoClient(server)
    print("connected to our server")
except pymongo.errors.ConnectionFailure as e:
    print("connection error", e)

In [ ]:
try:
    db = client['practice']
    print('connected')
except Exception as e:
    print(e)

In [ ]:
movie_title = db.movies.find({ 'title': "Inception" })

movie_title_clear = pd.DataFrame((movie_title))
movie_title_clear

In [ ]:
movie_rating = db.movies.find({ 'rating': { '$gt': 8.5 } })
movie_rating_clear = pd.DataFrame(movie_rating)
movie_rating_clear[['title', 'rating']]

In [ ]:
release_date = 2008
movie_release_date = db.movies.find({"release_year": {"$lte": release_date}})
movie_release_date_clear = pd.DataFrame(movie_release_date)
movie_release_date_clear

In [ ]:
movie_drama = db.movies.find({"genre": "Drama"})
movie_drama_clear = pd.DataFrame(movie_drama)
movie_drama_clear[['title','genre']]

In [ ]:
# top 5 highest rated moview
top_5_highest_rating = db.movies.find({'rating':{'$gt':8.5}})
top_5_highest_rating_clear = pd.DataFrame(top_5_highest_rating).sort_values('rating',ascending=False).head(5)
top_5_highest_rating_clear

# MongoDB Practice Questions

1.  **Find by Year**: Find all movies released in the year **2000 or later**.
2.  **Find by Rating**: Find all movies with a **rating greater than 8.5**.
3.  **Find by Language**: Find all movies where the language is **"Japanese"**.
4.  **Find by Availability**: Find all movies that are **available for streaming** (`available_streaming: True`).
5.  **Projection**: Find all movies but **only show the title and rating** (hide the `_id`).
6.  **Search in Array**: Find all movies that include the genre **"Drama"**.
7.  **Search in Array (Multiple)**: Find movies that are either **"Sci-Fi" OR "Adventure"**.
8.  **Nested Object**: Find all movies directed by **"Christopher Nolan"** (Hint: query `director.name`).
9.  **Nested Object**: Find all movies where the director is from **"USA"** (Hint: query `director.country`).
10. **Logical AND**: Find movies that are **"English"** AND have a rating **greater than 8.8**.
11. **Logical OR**: Find movies that were released **before 2000** OR have a budget **less than 50 million**.
12. **Regex Search**: Find movies where the title starts with **"The"** (Hint: use `{"$regex": "^The"}`).
13. **Update One**: Update the rating of **"Inception"** to **9.1**.
14. **Update Many**: Add a new field called **"view_count"** to ALL movies and set it to **0**.
15. **Delete**: Delete the movie with the title **"Titanic"**.

## Cheat Sheet
| Operation | Operator | Example |
| :--- | :--- | :--- |
| **Equal** | `:` | `{"year": 2010}` |
| **Greater Than** | `$gt` | `{"rating": {"$gt": 8.0}}` |
| **Less Than** | `$lt` | `{"budget": {"$lt": 100}}` |
| **In Array** | `$in` | `{"genre": {"$in": ["Action", "Comedy"]}}` |
| **Nested** | `.` | `{"director.name": "Nolan"}` |

In [79]:
db.movies.delete_one({"title":"Titanic"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [ ]:

db.movies.update_many(
    {},                
    { '$set': { 'view_count': 0 } }  
)

In [ ]:
japanese_language = db.movies.find({"language": "Japanese"})
japanese_language_clear = pd.DataFrame(japanese_language)
japanese_language_clear

In [ ]:
science_adventure = db.movies.find({"genre":{"$all":['Adventure']}})

data = pd.DataFrame(science_adventure)
data

In [ ]:
science_adventure = db.movies.find({"genre":{"$all":['Adventure']}})
data = pd.DataFrame(science_adventure)
data

In [ ]:

db.movies.update_one({"title":"Inception"},{"$set":{"rating":9.1}})